@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.option-card {
  border: 1px RGBA(0, 0, 0, 0) solid;
  margin: 20px;
  margin-top: 90px;
  max-height: 520px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  transition: all 0.2s linear;
  cursor: pointer;
  flex: 1;
}
.option-card:hover {
  transform: scale(1.1);
}
.parent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 800px;
}
.image {
  width: 375px;
  height: 450px;
  object-fit: fill;
  border-radius: 15px;
}
.text {
  
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  left: 25;
  right: 45;
  top: 14%;
  color: rgb(39, 38, 38);
  /* opacity: 5; */
  background: RGBA(0, 0, 0, 0.2);
  width:fit-content;
  border-radius: 15px;
}